.Contenedor {
    align-items: center;
    display: flex;
}
.Contenedor img {
    width: 60%;
    padding: 10px;
}
.row-verde {
    background-color: #1e3932;
    color: white;    
}
.row-rojo {
    background-color: #1e3932;
    color: white;    
}
.Fuente {
    font-family: Anton; 
    font-size: 36px;   
}
.Texto {
    max-width: 600px;
    margin: auto;
    font-family: Inter; 
    font-size: 20px;
    align-items: center;
}
.Texto_Centrado {
    justify-items: center;
    flex-wrap: wrap;
}

