/* Ajustes generales para .Contenedor */
.Contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: nowrap;
    min-height: 300px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}
/* Ajustes para imágenes */
.Contenedor img {
    width: 450px;
    height: auto;
    padding: 10px;
    flex-shrink: 0;
    object-fit: contain;
    border-radius: 10px;
}
.row-verde {
    background-color: #1e3932; /* Verde oscuro */
    color: white;
    max-width: 1200px;
    
}

.row-azul {
    background-color: #0061a8; /* Azul */
    color: white;
    max-width: 1200px;  
}
.row-rojo {
    background-color: #dc3545; /* Rojo */
    color: white;
    max-width: 1200px;  
}
.Fuente {
    font-family: Anton; 
    font-size: 36px;   
}
.Texto {
    max-width: 500px;
    margin: 5px;
    font-family: Inter; 
    font-size: 20px;
    align-items: center;
    padding: 10px;
    max-height: 300px;
}
.Texto_Centrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}
.Item {
    height: 100px;
    width: 100px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Anton;
    cursor: pointer;
}
.no-wrap {
    flex-wrap: nowrap;
    width: 150px;
}
.boton a{
    margin: auto solid #000;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    height: auto;
    gap: 40px;
    cursor: pointer;
    margin-right: 10px;
    color: #000;
    text-decoration: none;
}
.boton a:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    text-decoration: none;
}
.boton2  a{
    margin: auto solid #000;
    border: 2px solid black;
    color: rgb(255, 255, 255);
    background-color: #000;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    height: auto;
    gap: 40px;
    cursor: pointer;
    text-decoration: none;
}
.boton2 a:hover {
    background-color: rgb(253, 253, 253);
    color: #000;
    text-decoration: none;
}
.LadoDer {
    flex-grow: 2;
}
.direction-row {
    flex-direction: row;
}
.direction-column {
    flex-direction: column;
}
.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: Anton;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}
.NavBar img {
    height: 40px;
}
main {
    width: 80%; /* O el ancho que necesites */
    margin: 0 auto;
    background-color: lightgray;
}
