.Contenedor {
    margin: 75px;
    padding: 50px;
    border: 5px dotted #99304a;

}
.Bloque {
    background-color: rgb(181, 204, 168);
    border: 5px solid #af379f;
    margin: 15px;
    padding: auto;
    width: 180px;
}
.en-linea {
    background-color: rgb(228, 162, 76);
    border: 5px solid #ec604e;
    margin: 10px;
    padding: 15px;
    width: 30px;

}
.Button-block{
    background-color: rgb(148, 148, 235);
    border: 5px solid #dadd0f;
    margin: 20px;
    padding: 15px;
    width: 140px;
}
.Button-block:hover {
    background-color: #c6cf41;
    color: #4e440d;
    border: 5px solid #0f410a;
}
p {
    font-family: verdana;
    font-size: 15px;
  }
  